@page
@model CIM.Pages.Devices.DeletedModel

@{
    ViewData["Title"] = "Deleted Devices";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Devices.Any())
{
    <table>
        <thead>
            <tr>
                <th>Device ID</th>
                <th>Device Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model.Devices)
            {
                <tr>
                    <td>@device.ServiceTag</td>
                    <td>@device.Name</td>
                    <td>
                        <form method="post" style="display: inline;">
                            <input type="hidden" name="id" value="@device.Id" />
                            <button type="submit" class="btn btn-primary">Restore</button>
                        </form>
                        <a asp-page="/Devices/PermaDelete" asp-route-id="@device.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No deleted devices found.</p>
}
