@page "{id:int}"
@model CIM.Pages.DetailsModel

@{
    ViewData["Title"] = Model.Device.Name;
}

<h1>@Model.Device.Name - <a asp-page="./Edit" asp-route-id="@Model.Device?.Id">Edit</a></h1>

<div id="details">
    <h4>Device Info:</h4>
    <h4>Imaging Process Checklist:</h4>
    <hr/>
</div>
<div style="clear: both;">
    <table id="deviceDetails">
        <tbody>
            <tr>
                <th><i class="fas fa-desktop"></i>  @Html.DisplayNameFor(model => model.Device.Name)</th>
                <td>@Html.DisplayFor(model => model.Device.Name)</td>
            </tr>
            <tr>
                <th><i class="fas fa-tag fa-fw"></i>    @Html.DisplayNameFor(model => model.Device.ServiceTag)</th>
                <td><a href='@string.Format("https://www.dell.com/support/home/en-us/product-support/servicetag/{0}/overview", Model.Device.ServiceTag)'><i class="fas fa-external-link-alt fa-fw"></i>@Model.Device.ServiceTag</a></td>
            </tr>
            <tr>
                <th><i class="fas fa-building fa-fw"></i>   @Html.DisplayNameFor(model => model.Device.OU)</th>
                <td>@Html.DisplayFor(model => model.Device.OU)</td>
            </tr>
            <tr>
                <th><i class="fas fa-user fa-fw"></i>   @Html.DisplayNameFor(model => model.Device.PU)</th>
                <td>@Html.DisplayFor(model => model.Device.PU)</td>
            </tr>
            <tr>
                <th><i class="fas fa-exclamation-triangle fa-fw"></i>   @Html.DisplayNameFor(model => model.Device.Status)</th>
                <td>@Html.DisplayFor(model => model.Device.Status)</td>
            </tr>
            <tr>
                <th><i class="fas fa-calendar-day fa-fw"></i>   Warranty Expiration</th>
                <td>@Model.DeviceWarranty</td>
            </tr>
        </tbody>
    </table>
    <form id="imageChecklist">
        <ul>
            @foreach (string step in Model.imagingSteps)
            {
                <li><input type="checkbox" id="@(step)box" /><label for="@(step)box">@step</label></li>
            }
        </ul>
    </form> 
    
</div>
<div>
    <h2><a asp-page="/PreviousIssues/Create" asp-route-id=@Model.Device.Id>Log New Issue for @Model.Device.Name</a></h2>
@if (Model.Device.PreviousIssues.Count >= 1)
{
    <table id="issues">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Type</th>
                <th onclick="sortTable(1)">Details</th>
                <th onclick="sortTable(2)">Issue Date</th>
                <th onclick="sortTable(3)">Technician</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var issue in Model.Device.PreviousIssues)
            {
                <tr>
                    <td>@issue.IssueType</td>
                    <td>@issue.IssueDetails</td>
                    <td>@issue.IssueDate</td>
                    <td>@issue.Technician</td>
                    <td>
                        <a asp-page="/PreviousIssues/Edit" asp-route-id="@issue.Id">Edit</a> |
                        <a asp-page="/PreviousIssues/Delete" asp-route-id="@issue.Id">Delete</a>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


    <a asp-page="../Index">Back to List</a>
</div>
