@page "{id}"
@model CIM.Pages.DetailsModel

@{
    ViewData["Title"] = Model.Device.Name;
}

<h1>@Model.Device.Name</h1>
<div class="DetailsView">
    <h4>Device Info: - <a asp-page="./Edit" asp-route-id="@Model.Device?.Id">Edit</a></h4>
    <table id="deviceDetails">
        <tbody>
            <tr>
                <th><i class="fas fa-desktop"></i>  @Html.DisplayNameFor(model => model.Device.Name)</th>
                <td>@Html.DisplayFor(model => model.Device.Name)</td>
            </tr>
            <tr>
                <th><i class="fas fa-tag fa-fw"></i>    @Html.DisplayNameFor(model => model.Device.ServiceTag)</th>
                <td><a href='@string.Format("https://www.dell.com/support/home/en-us/product-support/servicetag/{0}/overview", Model.Device.ServiceTag)'><i class="fas fa-external-link-alt fa-fw"></i>@Model.Device.ServiceTag</a></td>
            </tr>
            <tr>
                <th><i class="fas fa-building fa-fw"></i>   @Html.DisplayNameFor(model => model.Device.OU)</th>
                <td>@Html.DisplayFor(model => model.Device.OU)</td>
            </tr>
            <tr>
                <th><i class="fas fa-user fa-fw"></i>   @Html.DisplayNameFor(model => model.Device.PU)</th>
                <td>@Html.DisplayFor(model => model.Device.PU)</td>
            </tr>
            <tr>
                <th><i class="fas fa-exclamation-triangle fa-fw"></i>   @Html.DisplayNameFor(model => model.Device.Status)</th>
                <td>@Html.DisplayFor(model => model.Device.Status)</td>
            </tr>
            <tr>
                <th><i class="fas fa-calendar-day fa-fw"></i>   Warranty Expiration</th>
                <td>@Model.DeviceWarranty</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="DetailsView">
    <input type="hidden" name="id" value="@Model.Device.Id" id="deviceId"/>
    @if (Model.Device.Status != "Imaged")
    {
        <h4 class="DetailsView">Imaging Process Checklist:</h4>
        <form asp-page-handler="ToggleImage" method="post" id="imageChecklist" asp-antiforgery="false">
        @for (int i = 0; i < 4; i++)
        {
            @if (Model.Device.ImagingStep[i])
            {
                <input type="checkbox" id="@(i)" checked/>
            } else {
                <input type="checkbox" id="@(i)"/>
            }
                <label for="@(i)">@Model.imagingSteps[i]</label>
            }
        <button id="submitBtn" disabled>Submit</button>
        </form>
    } else {
        <form asp-page-handler="ToggleImage" method="post" id="imageChecklist" asp-antiforgery="false">
            <button id="submitBtn">Device Needs Imaged</button>
        </form>
}


</div>
<div>
    <h2 style="clear: both;"><a asp-page="/PreviousIssues/Create" asp-route-id=@Model.Device.Id>Log New Issue for @Model.Device.Name</a></h2>

@if (Model.Device.PreviousIssues.Count >= 1)
{    
    <h4>Previous Issues:</h4>
    <table id="issues">
        <thead>
            <tr>
                <th onclick="sortTable('issues', 0)">Type</th>
                <th onclick="sortTable('issues', 1)">Details</th>
                <th onclick="sortTable('issues', 2)">Issue Date</th>
                <th onclick="sortTable('issues', 3)">Technician</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var issue in Model.Device.PreviousIssues)
            {
                <tr>
                    <td>@issue.IssueType</td>
                    <td>@issue.IssueDetails</td>
                    <td>@issue.IssueDate</td>
                    <td>@issue.Technician</td>
                    <td>
                        <a asp-page="/PreviousIssues/Edit" asp-route-id="@issue.Id">Edit</a> |
                        <a asp-page="/PreviousIssues/Delete" asp-route-id="@issue.Id">Delete</a>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


    <a asp-page="../Index">Back to List</a>
</div>

<script>
    // Get all checkboxes
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    // Get the submit button
    const submitBtn = document.getElementById('submitBtn');
    const allChecked = Array.from(checkboxes).every((c) => c.checked);
    // Enable or disable the submit button accordingly
    submitBtn.disabled = !allChecked;
    var deviceId = document.getElementById('deviceId').value;
    // Add a change event listener to each checkbox
    checkboxes.forEach((checkbox, index) => {
        checkbox.addEventListener('change', () => {
            $.ajax({
                type: 'POST',
                url: `?handler=Step`,
                data: { 
                    isChecked: checkboxes[index].checked,
                    id: deviceId,
                    step: checkboxes[index].id
                },
                success: function () {
                    console.log('The step has been updated successfully.');
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred while updating the step:', error);
                }
            });
            // Check if all checkboxes are checked
            const allChecked = Array.from(checkboxes).every((c) => c.checked);
            // Enable or disable the submit button accordingly
            submitBtn.disabled = !allChecked;
        });
    });
</script>
