@page
@model CIM.Pages.IndexModel

@{
    ViewData["Title"] = "Inventory Devices";
}
<script src="~/js/site.js"></script>


<div id="index-header">
    <h1>Device Inventory</h1>
    <div class="input-group">
        <input type="text" class="form-control" id="deviceSearch" onkeyup="searchTables()" placeholder="Search Inventory..." style="padding-left: 3rem;">
    </div>
</div>


<hr>

@foreach (var status in Model.statusTypes)
{
    var tableId = status.Replace(" ", "_");
    <div id="@tableId-table-container">
        <h5>Status: @status (<span id="@tableId-count">@Model.Device.Count(d => d.Status == status)</span>)</h5>
        <div class="table-container">
            <table id="@tableId">
                <thead>
                    <tr>
                        <th onclick="sortTable('@tableId', 0)">
                            @Html.DisplayNameFor(model => model.Device[0].Name)
                        </th>
                        <th onclick="sortTable('@tableId', 1)">
                            @Html.DisplayNameFor(model => model.Device[0].ServiceTag)
                        </th>
                        <th class="delete-column">...</th> <!-- new table cell for delete button column -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Device)
                    {
                        @if (item.Status == status)
                        {
                            <tr>
                                <td onclick="location.href='@Url.Page("./Devices/Details", new { id = item.Name })'">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td onclick="location.href='@Url.Page("./Devices/Details", new { id = item.Name })'">
                                    @Html.DisplayFor(modelItem => item.ServiceTag)
                                </td>
                                <td class="delete-column">
                                    <!-- new table cell for delete button -->
                                    @if (item.Status == status)
                                    {
                                        <form asp-page="/Devices/Delete" asp-route-id="@item.Id">
                                            <a href="/Devices/Delete/@item.Id" onclick="event.preventDefault(); this.closest('form').submit();">
                                                <i class="fa fa-trash fa-sm" style="color: rgb(151,27,47);"></i>
                                            </a>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <hr>
    </div>
}
