@page
@model CIM.Pages.InventoryModel
@{
    ViewData["Title"] = "Inventory List";
}
<h1>Deployable Devices</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Service Tag</th>
        <th>OU</th>
        <th>Primary User</th>
        <th>Previous Issue</th>
        <th>Status</th>
    </tr>
    @foreach (var device in Model.Devices)
    {
        <tr>
            <td>@device.Name</td>
            <td>@device.ServiceTag</td>
            <td>@device.OU</td>
            <td>@device.PU</td>
            <td>@device.PI</td>
            <td>@device.Status</td>
        </tr>
    }
</table>

